version: '3'

services:
  ros1:
    build:
      context: ../
      dockerfile: docker/ros1.Dockerfile
    runtime: nvidia
    network_mode: host
    environment:
      - DISPLAY=$DISPLAY
      - QT_X11_NO_MITSHM=1
      - XAUTHORITY=/tmp/.docker.xauth
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - /tmp/.docker.xauth:/tmp/.docker.xauth
    command: roslaunch staubli_tx2_60l_moveit_config staubli_isaac_moveit.launch